:root {
  --main-ff: "poppins", Arial, Helvetica, sans-serif;
  --body-fs: 1.6rem;
  --body-lh: 1.5;

  /* Colors */
  --peach-light: #ffd3af;
  --white-full: #ffffff;
  --orange-light: #ffa155;
  --white-40: rgba(255, 255, 255, 0.4);
  --dark-navy: #232536;
  --blue-main: #4f56ff;
}
